{% extends 'layout.html.twig' %}

{% block title %}Scene
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/scene.css">
{% endblock %}

{% block content %}

{# <div class="user-score">
    <p>Votre score actuel : {{ userScore }}</p>
</div> #}



{% if message is not null %}
	<div>
		{{ message }}
	</div>
{% endif %}


<div class="ImgDialogues">
	<div class="ImageLightOff">


		{% if (switchPicture is not null) or (scene['name'] == 'bureau') %}
			<img usemap="#{{scene['name']}}" src="{{scene['image']}}" alt="{{scene['alt']}}" id="sceneImage">
		{% else %}
			<img usemap="#{{scene['name']}}" src="{{scene['image_dark']}}" alt="{{scene['alt']}}" id="sceneImage">
		{% endif %}
		{# <img usemap="#{{scene['name']}}" src="{{scene['image']}}" alt="{{scene['alt']}}" id="sceneImage"> #}

		<map name={{scene['name']}}>


			{% if (scene['linkedPlans']['plan1']) %}
				<area shape="circle" coords={{scene['linkedPlans']['plan1']['coords']}} alt={{scene['linkedPlans']['plan1']['alt']}} href={{scene['linkedPlans']['plan1']['href']}} id="pastille"/>
			{% endif %}

			{% if (scene['linkedPlans']['plan2']) %}
				<area shape="circle" coords={{scene['linkedPlans']['plan2']['coords']}} alt={{scene['linkedPlans']['plan2']['alt']}} href={{scene['linkedPlans']['plan2']['href']}} id="pastille"/>
			{% endif %}

			{% if (scene['linkedPlans']['plan3']) %}
				<area shape="circle" coords={{scene['linkedPlans']['plan3']['coords']}} alt={{scene['linkedPlans']['plan3']['alt']}} href={{scene['linkedPlans']['plan3']['href']}} id="pastille"/>
			{% endif %}

			{% if (scene['linkedPlans']['plan4']) %}
				<area shape="circle" coords={{scene['linkedPlans']['plan4']['coords']}} alt={{scene['linkedPlans']['plan4']['alt']}} href={{scene['linkedPlans']['plan4']['href']}} id="pastille"/>
			{% endif %}

			{% if (switchPicture is not null) or (scene['name']== 'bureau') %}
				<area shape="circle" coords="379,190,20" alt={{linkedScene['alt']}} href={{linkedScene['href']}} id="pastille"/>
			{% endif %}

		</map>
	</div>
	{# <div class="Dialogues">
				<div id="typedtext">
					{{ scene['dialogues'] ?? 'Dialogue par défaut ou message d\'erreur si nécessaire' }}
	            </div>
	        </div> #}
	<div class="Dialogues">
		<div id="typedtext">

			{% if switchPicture is not null and (scene['name'] == 'couloir') %}
				{{ scene['dialoguesSuccess'] }}
			{% else %}
				{{ scene['dialogues'] ?? 'Dialogue par défaut ou message d\'erreur si nécessaire' }}
                {% endif %}
			

            </div>
		</div>
        
    {# </div> #}

        <div class="tools">
            <div class="pseudo">
               {{ user.pseudo }} - {{ userScore }}
            </div>

            <div class="timer">
                60:00
                <!-- fonction timer -->
            </div>

            <div class="inventory">
            </div>
            
            <div class="indice">
               <img href="#" src="/assets/images/ampoule_bw.png" alt="ampoule en noir et blanc" onmouseover="this.src='/assets/images/ampoule_color.png'" onmouseout="this.src='/assets/images/ampoule_bw.png'" onclick=togglePopup()> 
            <span class="text-bubble">Indice</span>
        
            </div>

        <div id="popup">
            <div class="popup-content">
                <h2>INDICE 💡</h2>
                <p>{{ scene['hint'] ?? 'Indice par défaut ou message d\'erreur si nécessaire' }}</p>
				<a href="javascript:void(0)" onclick="togglePopup()" class="popup-exit">❌</a>
			</div>

				{% if (scene['scene1']['hint']) %}
					<p{{scene['hint']}} id="indice" /p>
					{% endif %}
				{% if (scene['scene2']['hint']) %}
					<p{{scene['hint']}} id="indice" /p>
					{% endif %}
		</div>

	</div>

			{% block javascript %}
				<script>
					function togglePopup() {
                        let popup = document.querySelector("#popup");
popup.classList.toggle("open");
}
				</script>
			{% endblock %}
			{# 
			    var iIndex = 0; 
			    var iTextPos = 0;
			    var aText = {{ scene['dialogues'] ?? "Dialogue par défaut ou message d\'erreur si nécessaire"}}
			    
			    var iArrLength = aText[0].length; 
			    var iScrollAt = 20;
			    var iRow = 0; 
			    var sContents = ""; 
			    var iSpeed = 50;
			   
			    // La fonction typewriter() est responsable de faire défiler et afficher le texte sur la page. 
			    
			    function typewriter() 
			    {
			            sContents = ' ';
			            iRow = Math.max(0, iIndex - iScrollAt);
			            var destination = document.getElementById("typedtext");
			            
			            while (iRow < iIndex) 
			            {
			                sContents += aText[iRow++] + '<br />';
			            }
			            destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
			            if (iTextPos++ == iArrLength) 
			            {
			                iTextPos = 0;
			                iIndex++;
			                if (iIndex != aText.length) 
			                {
			                    iArrLength = aText[iIndex].length;
			                    setTimeout(typewriter, 500);
			                }
			            } else {
			                setTimeout(typewriter, iSpeed);
			            }
			        }
			
			    typewriter();
			
			    </script>
			    {% endblock %} #}

			{% endblock %}