{% extends 'layout.html.twig' %}

{% block title %}Scene{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/scene.css">
{% endblock %}

{% block content %}

		{% if (plan['name'] == 'Ordinateur') and result.success %}
			<img usemap="#{{plan['name']}}" src="{{plan['image2']}}" alt="{{plan['alt']}}" id="sceneImage">
		{% elseif (plan['name'] == 'ArmoireDeGauche') and result.success %}
			<img usemap="#{{plan['name']}}" src="{{plan['image2']}}" alt="{{plan['alt']}}" id="sceneImage">
		{% else %}
			<img usemap="#{{plan['name']}}" src="{{plan['image']}}" alt="{{plan['alt']}}" id="sceneImage">
		{% endif %}

		<map name={{plan['name']}}>
			
			{% if (plan)%}
				<area shape="circle" coords="31,199,20" alt={{plan['alt']}} href={{plan['linkRetour']}} {# id="pastille" #}/>
			{% endif %}
			{% if (plan['image2']) %}
				<area id="keyArea" class="key" data-key-id="unique_key_id" shape="circle" coords="{{plan['coordsKey']}}" alt="{{plan['alt']}}" href="{{plan['linkRetour']}}">
			{% endif %}

		</map> 
		 
		<div class="Dialogues"> 
			<div id="typedtext"> 
				{% if plan['name'] == 'Eleccompteur' and result.success %} 
					{{ plan['dialoguesSuccess']}} 
				{% elseif plan['name'] == 'ArmoireDeDroite' and result.success %} 
					{{ plan['dialoguesSuccess'] }} 
				{% elseif plan['name'] == 'Ordinateur' and result.success %} 
					{{ plan['dialoguesSuccess'] }} 
				{% elseif plan['name'] == 'ArmoireDeGauche' and result.success %} 
					{{ plan['dialoguesSuccess'] }} 
				{% else %} {{ plan['dialogues'] ?? 'Dialogue par défaut ou message d\'erreur si nécessaire' }} 
				{% endif %} 
			</div> 
		</div> 
		
		{% if plan.enigma is defined %} 
			<div > 
				<p>{{plan.enigma.question}}</p> 
				<form method="post" class="answer"> 
				{% for question in plan.enigma.answers %} 
					<label for="{{ question }}">{{ question }} </label> 
					<input name="{{ question }}" type="submit" value="✔️" id="{{ question }}" /> 
				{% endfor %} 
				</form> 
			</div> 
		{% endif %} 

			<div class="timer"> 
				60:00 
				<!-- fonction timer --> 
			</div> 
			
			<div class="inventory"> 

			</div> 
			
			<div class="indice"> 
				<img src="/assets/images/ampoule_bw.png" alt="ampoule en noir et blanc" 
					onmouseover="this.src='/assets/images/ampoule_color.png'" 
					onmouseout="this.src='/assets/images/ampoule_bw.png'"/> 
			</div> 
		</div> 
	</div> 

        <div class="tools">
            <div class="pseudo">
            {{ user.pseudo }}
            </div>

{% endblock %}

{% block javascript %}
	<script src="assets/js/objects.js" defer></script>
{% endblock %}
