{% extends 'layout.html.twig' %}

{% block title %}Scene
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/scene.css">
{% endblock %}

{% block content %}

{# <div class="layout"> #}

<div class="ImgDialogues">
	<div class="ImageLightOff">

		{# <img usemap="#{{plan['name']}}" src="{{plan['image']}}" alt="{{plan['alt']}}" id="sceneImage"> #}
		{% if (plan['name'] == 'Ordinateur') and result.success %}
			<img usemap="#{{plan['name']}}" src="{{plan['image2']}}" alt="{{plan['alt']}}" id="sceneImage">
		{% elseif (plan['name'] == 'ArmoireDeGauche') and result.success %}
			<img usemap="#{{plan['name']}}" src="{{plan['image2']}}" alt="{{plan['alt']}}" id="sceneImage">
			{# <area shape="circle" coords={{plan['coordsKey']}} alt={{plan['alt']}} href={{plan['linkRetour']}}    #}
		{% else %}
			<img usemap="#{{plan['name']}}" src="{{plan['image']}}" alt="{{plan['alt']}}" id="sceneImage">
		{% endif %}

		<map name={{plan['name']}}>
			
			{% if (plan)%}
				<area shape="circle" coords="31,199,20" alt={{plan['alt']}} href={{plan['linkRetour']}} {# id="pastille" #}/>
			{% endif %}
			{% if (plan['image2']) %}
			{# a finir #}
				<form action="/set-key-object" method="post">
					<input type="hidden" name="keyObject" value="clé">
					<area shape="circle" coords={{plan['coordsKey']}} alt={{plan['alt']}} href={{plan['linkRetour']}} >

					{% if form_submitted_successfully %}
						<img src="/assets/images/cle.png" alt="clé" />
					{% endif %}
				</form>
			{% endif %}
			</map> 
		</div> 
		<div class="Dialogues"> 
			<div id="typedtext"> 
				{% if plan['name'] == 'Eleccompteur' and result.success %} 
					{{ plan['dialoguesSuccess']}} 
				{% elseif plan['name'] == 'ArmoireDeDroite' and result.success %} 
					{{ plan['dialoguesSuccess'] }} 
				{% elseif plan['name'] == 'Ordinateur' and result.success %} 
					{{ plan['dialoguesSuccess'] }} 
				{% elseif plan['name'] == 'ArmoireDeGauche' and result.success %} 
					{{ plan['dialoguesSuccess'] }} 
				{% else %} {{ plan['dialogues'] ?? 'Dialogue par défaut ou message d\'erreur si nécessaire' }} 
				{% endif %} 
			</div> 
		</div> 
		{% if plan.enigma is defined %} 
			<div > 
				<p>{{plan.enigma.question}}</p> 
				<form method="post" class="answer"> 
				{% for question in plan.enigma.answers %} 
					<label for="{{ question }}">{{ question }} </label> 
					<input name="{{ question }}" type="submit" value="✔️" id="{{ question }}" /> 
				{% endfor %} 
				</form> 
			</div> 
		{% endif %} 

		<div class="tools"> 
			<div class="pseudo"> 
				JojoPok 
				<!-- fonction qui récupère le pseudo du joueur lorsque celui-ci est connecté à sa session--> 
			</div> 

			<div class="timer"> 
				60:00 
				<!-- fonction timer --> 
			</div> 
			
			<div class="inventory"> 
				{% if plan['name'] == 'ArmoireDeGauche' and result.success %}
                <img src="/assets/images/cle.png" alt="clé" />
            {% endif %}
			</div> 
			
			<div class="indice"> 
				<img src="/assets/images/ampoule_bw.png" alt="ampoule en noir et blanc" 
					onmouseover="this.src='/assets/images/ampoule_color.png'" 
					onmouseout="this.src='/assets/images/ampoule_bw.png'"/> 
			</div> 
		</div> 
	</div> 
{% endblock %} 
			

  {# {% block javascript %}  #}

 	{# <script> #}
 			 {# Animation en JS pour que les dialogues s'écrivent comme uen "machine à écrire" : le code simule la frappe du texte lettre par lettre. 
 	 à voir si on utilise plutôt la librairie Sheperdjs pour faire cette animation 
	
 		on initialise les différentes variables pour suivre la frappe progressive du texte : 
 		var iIndex = 0; 
 		var iTextPos = 0; 
 		var aText = [ 
 			href="{{ scene.plan1.dialogues }}" 
 		]; 
 		var iArrLength = aText[0].length; 
 		var iScrollAt = 20; 
 		var iRow = 0; 
 		var sContents = ""; 
 		var iSpeed = 50; 

 	 La fonction typewriter() est responsable de faire défiler et afficher le texte sur la page. 
	
 		function typewriter() { 
 			sContents = ' '; 
 			iRow = Math.max(0, iIndex - iScrollAt); 
 			var destination = document.getElementById("typedtext"); 
			
 			while (iRow < iIndex) 
 			{ 
 				sContents += aText[iRow++] + '<br />'; 
 			} 
 			destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_"; 
 			if (iTextPos++ == iArrLength) 
 			{ 
 				iTextPos = 0; 
 				iIndex++; 
 				if (iIndex != aText.length) 
 				{ 
 					iArrLength = aText[iIndex].length; 
 					setTimeout(typewriter, 500); 
 				} 
 			} else { 
 				setTimeout(typewriter, iSpeed); 
 			}
 		} 
		
 	typewriter(); 
		
 </script> 

 <script type="text/javascript" src="/assets/js/dialogs.js">  #}

 {# {% endblock %}  #}
